<div class="row">
  <%= link_to "Add friend", "#", class: "btn btn-primary" %>
  <%= link_to "New message", new_user_message_path(current_user), class: "btn btn-primary" %>
  <%= link_to "Sent message", users_path(current_user), class: "btn btn-primary" %>
  <br>
  <% if @sent_messages %>
    <% @sent_messages.each do |message| %>
      Sent to <%= User.find(message.recipient_id).name%> <%= message.seen?? "Seen at #{message.seen_at}":" Unread " %>
      <br>
    <%end%>
  <% end %>
</div>
