<!DOCTYPE html>
<html>
  <head>
    <title>Coder chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav">
          <% if not signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sessions/new">Log In</a>
            </li>
          <%else%>

            <li class="nav-item">
              <a class="nav-link" href="/logout" data-method="delete" >Log out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ><%= current_user.name %></a>
            </li>
          <%end%>
        </ul>
      </nav>
      <br>
      <% if flash.any? %>
        <%= flash_messages %> 
      <%end%>
      <br>
      <% if current_user %>
        <div class="row">
          <div class="col-sm-3 sidebar-offcanvas">
            <div class='list-group'>

              <%= link_to "Inbox", user_messages_path(current_user), class: "list-group-item" %>
              <%= link_to "New message", new_user_message_path(current_user), class: "list-group-item" %>
              <%= link_to "Sent message", list_sent_messages_path(current_user), class: "list-group-item" %>
              <br>
              <%= link_to "Add friend", users_path, class: "list-group-item" %>
            </div>
          </div>

          <div class="col-sm-9">
            <%= yield %>
          </div>
        <%else%>
          <%= yield %>
        <%end%>

        </div>
  </body>
</html>
          <li class="nav-item active">
